html {
  background-color: #fafbed;
}
body > div {
  margin: 20px auto;
  max-width: 960px;
  padding: 0 1rem;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
a {
  color: #9c2485;
  text-decoration: none;
  background-image: none;
  text-shadow: none;
}
a:hover {
  text-decoration: underline;
}
ul,
li {
  list-style: none;
  margin-left: 0 !important;
}
li {
  display: inline;
}

/* Header */
header {
  margin-bottom: 3rem;
  font-size: 1rem;
  line-height: 1.5;
}
header a {
  text-shadow: none;
  background-image: none;
}
header a#title:hover {
  text-decoration: none;
}
header h1 {
  display: inline;
}
nav {
  list-style: none;
  float: right;
  margin-top: 8px;
}
nav li {
  display: block;
  float: left;
  transition-duration: 0.5s;
  margin-right: 2px;
}
nav li:hover,
nav li:focus-within {
  cursor: pointer;
}
nav li a {
  padding: 5px 10px;
}
nav li a.active,
nav li a:hover,
nav > ul > li:hover > a {
  background-color: #9c2485;
  color: #fff;
  text-decoration: none;
}
nav ul li ul {
  visibility: hidden;
  opacity: 0;
  margin-top: 3px;
  
  z-index: 999;
  min-width: 100%;
  white-space: nowrap;
}

nav ul li:hover > ul,
nav ul li:focus-within > ul,
nav ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

nav ul li ul li {
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav ul li ul li a {
  display: block;
  width: 100%;
  background-color: rgb(236, 237, 218);
  margin: 0;
  border-top: 1px solid #fff;
}

nav li li a.active,
nav li li a:hover {
  background-color: rgb(236, 237, 218);
  color: #9c2485;
  text-decoration: underline;
}

nav li:focus-within a {
  outline: none;
}

nav .menu-icon {
  border-top: 5px solid #9c2485;
}
nav li:hover .menu-icon,
nav li a.active .menu-icon {
  border-top: 5px solid #fff;
}

/* Page Home Content */
#home-buttons {
  margin: 5rem 0;
  display: flex;
  height: 200px;
  flex-direction: row;
  align-items: center;
}

#home-buttons a{
  display: flex;
  margin: auto;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  background: rgb(236, 237, 218);
  color:hsla(0,0%,0%,0.73);
  border-radius: 20px;
  float: left;
  width: 32%;
  height: 200px;
}

#home-buttons a span{
  font-size: 3rem;
  color: #9c2485;
}

#home-buttons a:hover{
  background: rgba(0, 0, 0,0.1);
  text-decoration: none;
}

/* Page Calculator Content */

#calculator {
  max-width: 100%;
  margin: auto;
  text-align: center;
}
#calculator textarea {
  height: 52px;
  font-size: 48px;
  line-height: 46px;
  width: 90%;
  border: none;
  color: hsla(0, 0%, 0%, 0.9);
  margin-bottom: 2rem;
  background: none;
  text-align: center;
  max-height: 290px;
  resize: none;
}
#calculator textarea:focus {
  outline: none;
}
p.result {
  font-size: 72px;
  color: #9c2485;
}
p.TQValues {
  padding: 1rem;
  border-left: 0.28125rem solid #9c2485 !important;
  font-weight: 600;
  width: 100%;
  text-align: justify-all;
  word-spacing: 0.5rem;
  clear: both;
}
.aboutvalues {
  display: inline-block;
  margin-right: 20px;
}
h4 {
  text-align: left;
}
#virtual-keyboard{
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: flex-start;
  justify-content: center;
}
.letterButtons button {
  flex-flow: column wrap;
  align-content: center;
  flex-basis: 72px;
  background: none;
  margin-bottom: 3px;
  margin-right: 3px;
  height: 36px;
  border-radius: 3px;
  border: 2px solid hsla(0, 0%, 0%, 0.9);
  cursor: pointer;
}
.letterButtons button:hover {
  background: rgba(0,0,0,0.1);
}
.letterButtons button:focus {
  background: rgba(0,0,0,0.2);
}
.letterButtons button:focus-within {
  outline: none;
}
.letterButtons button.clear {
  width: 120px;
  display: block;
  margin: auto;
}
.pastSearches {
  opacity: 0;
  width: 100%;
  animation: Appear 2s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  clear: both;
  float: left;
}
@keyframes Appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pastSearches button{
  cursor: pointer;
  border:none;
  background: none;
  color:#9c2485;
  margin: 0;
  padding: 0;
}
.pastSearches button:hover{
  text-decoration: underline;
}
.pastSearches ul {
  margin-bottom: 100px;
}
.pastSearches ul li {
  font-size: 1rem;
  margin-right: 20px;
  float: left;
}
.pastSearches ul li span {
  color: #9c2485;
  margin-left: 5px;
}

.correspondences {
  clear: both;
}

/* Footer */

footer {
  margin-top: 5rem;
  text-align: center;
  clear: left;
}

/* Page Words Analysis */

#holy-books ul{
  list-style: disc;
  padding-left: 20px;
}
#holy-books ul li{
  display: list-item;
  list-style: disc;
  margin-bottom: 0;
}

blockquote {
  display: block;
  margin-bottom: 20px;
  font-style: italic;
}
blockquote strong {
  font-weight: 900;
}

.table {
  display: flex;
  flex-direction: column;
}

.table .header {
  background-color: rgb(238, 238, 238);
}

.table .header,
.table .row {
  display: flex;
}

.table .header div,
.table .row div {
  flex: 1;
  padding: 0.2rem 0.4em;
  border: 1px solid rgb(238, 238, 238);
}
.sort-direction,
nav .menu-icon {
  display: inline-block;
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin: 3px 10px;
}

.table .header div button{
  background:none;
  border: none;
  cursor: pointer;
}

.sort-direction.asc {
  border-bottom: 5px solid black;
}

.sort-direction.desc {
  border-top: 5px solid black;
}

nav .menu-icon {
  margin: 3px 0px 3px 5px;
}

blockquote {
  border-left: 0.28125rem solid #9c2485 !important;
  text-shadow: none;
}

/* Off Canvas Responsive Menu */
#menu-button {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 30px;
  background: none;
  border: none;
  padding: 0;
}

#offcanvas-root button {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 30px;
  padding: 0;
  color: #9c2485;
  background: none;
  border: none;
  padding: 0;
}

#offcanvas-root .overlay > div {
  background: #fafbed !important;
  border-left: 0px solid #9c2485;
  box-shadow: 0px 0 4px #999;
}
#offcanvas-root nav {
  margin: 0;
  float: left;
  width: 100%;
}
#offcanvas-root nav > ul > li{
  border-bottom: 1px solid #9c2485;
}
#offcanvas-root nav ul li ul {
  display: block;
  visibility: visible;
  opacity: 1;
  margin-top: 0;
  padding-left: 20px;
}
#offcanvas-root nav li,
#offcanvas-root nav li a {
  display: block;
  width: 100%;
  margin-bottom: 0;
}
#offcanvas-root nav > ul > li > a {
  font-weight: bold;
}
#offcanvas-root nav ul li ul li a {
  padding: 5px 15px 5px 0;
  background:none;
  border-top: none;
}
#offcanvas-root .menu-icon{
  display: none;
}

@media (max-width: 830px) {
  #menu {
    display: none;
  }
  #menu-button {
    display: block;
  }
}

@media (max-width: 425px) {
  header {
    margin-bottom: 1rem;
  }
  header h1{
    font-size:1.3rem;
  }
  #home-buttons{
    margin-top: 0;
    flex-direction: column;
    height: 500px;
  }
  #home-buttons a{
    flex-direction: column;
    height: 150px;
    line-height: 50px;
    width:100%;
  }
}

