html {
  	background-color: #fafbed;
}
body>div{
	margin: 3rem auto;
	max-width: 960px;
	padding: 0 1rem;
}
a{
	color: #9c2485 !important;
	text-decoration: none !important;
}
a:hover{
	text-decoration: underline;
}

/* Header */
header{
	margin-bottom: 5rem;
}
header a{
	text-shadow: none;
	background-image: none;
}
header a#title:hover{
	text-decoration: none;
}
header h2{
	display: inline;
}
ul{
	list-style: none;
	float: right;
}
li{
	display: inline-block;
	margin-right: 1rem;
}
blockquote{
	border-left: 0.28125rem solid #9c2485 !important;
	text-shadow: none;
}

/* Page Home Content */

#calculator{
	max-width: 100%;
	margin: auto;
	text-align: center;
}
#calculator input{
	font-size: 48px;
	width: 60%;
	border: none;
	color:hsla(0,0%,0%,0.9);
	margin-bottom: 2.5rem;
	background: none;
	text-align: center;
}
#calculator input:focus{
	outline: none;
}
p.result{
	font-size: 72px;
	color: #9c2485;
	margin-bottom: 5rem;
}
p.TQValues{
	padding: 1rem;
	border: 0.14rem solid #9c2485;
	font-weight: 600;
	width: 100%;
	text-align: justify-all;
}

/* Footer */

footer{
	bottom:1.5rem;
	text-align:center;
}