html {
  background-color: #fafbed;
}
body > div {
  margin: 3rem auto;
  max-width: 960px;
  padding: 0 1rem;
}
a {
  color: #9c2485;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul,
li {
  list-style: none;
  margin-left: 0 !important;
}
li {
  display: inline;
}

/* Header */
header {
  margin-bottom: 4rem;
  font-size: 1rem;
  line-height: 1.5;
}
header a {
  text-shadow: none;
  background-image: none;
}
header a#title:hover {
  text-decoration: none;
}
header h1 {
  display: inline;
}
header nav {
  list-style: none;
  float: right;
  margin-top: 8px;
}

header li {
  display: block;
  float: left;
  transition-duration: 0.5s;
  margin-right: 2px;
}

header li:hover,
header li:focus-within {
  cursor: pointer;
}

header li a {
  padding: 5px 10px;
}
header li a.active,
header li a:hover,
nav > ul > li:hover > a {
  background-color: #9c2485;
  color: #fff;
  text-decoration: none;
}

header ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin-top: 2px;
  display: none;
  z-index: 999;
}

header ul li:hover > ul,
header ul li:focus-within > ul,
header ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

header ul li ul li {
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}

header ul li ul li a {
  display: block;
  width: 100%;
  background-color: rgb(236, 237, 218);
  margin: 0;
  border-top: 1px solid #fff;
}

header li li a.active,
header li li a:hover {
  background-color: rgb(236, 237, 218);
  color: #9c2485;
  text-decoration: underline;
}

header li:focus-within a {
  outline: none;
}

/* Page Home Content */

#calculator {
  max-width: 100%;
  margin: auto;
  text-align: center;
}
#calculator textarea {
  font-size: 48px;
  line-height: 48px;
  width: 90%;
  border: none;
  color: hsla(0, 0%, 0%, 0.9);
  margin-bottom: 2rem;
  background: none;
  text-align: center;
  max-height: 290px;
  resize: none;
}
#calculator textarea:focus {
  outline: none;
}
p.result {
  font-size: 72px;
  color: #9c2485;
  margin-bottom: 3rem;
}
p.TQValues {
  padding: 1rem;
  border-left: 0.28125rem solid #9c2485 !important;
  font-weight: 600;
  width: 100%;
  text-align: justify-all;
  word-spacing: 0.5rem;
}
h4 {
  text-align: left;
}
.pastSearches {
  opacity: 0;
  animation: Appear 2.5s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}
@keyframes Appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pastSearches ul li {
  font-size: 1rem;
  margin-right: 20px;
}
.pastSearches ul li span {
  color: #9c2485;
  margin-left: 5px;
}

/* Footer */

footer {
  margin-top: 5rem;
  text-align: center;
}

/* Page Words Analysis */

blockquote {
  display: block;
  margin-bottom: 20px;
  font-style: italic;
}
blockquote strong {
  font-weight: 900;
}

.table {
  display: flex;
  flex-direction: column;
}

.table .header {
  background-color: rgb(238, 238, 238);
}

.table .header div {
  cursor: pointer;
}

.table .header,
.table .row {
  display: flex;
}

.table .header div,
.table .row div {
  flex: 1;
  padding: 0.2rem 0.4em;
  border: 1px solid rgb(238, 238, 238);
}
.sort-direction {
  display: inline-block;
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin: 3px 10px;
}

.sort-direction.asc {
  border-bottom: 5px solid black;
}

.sort-direction.desc {
  border-top: 5px solid black;
}

blockquote {
  border-left: 0.28125rem solid #9c2485 !important;
  text-shadow: none;
}
